
// Main files to change.
// gtk 4 _colors.scss
// gtk 4 pop_os_colors.scss
// gtk 3 _colors.scss
// gtk 3 pop_os_colors.scss
// gnome_shell _colors.scss
// gnome_shell _pop_os_colors.scss


$base_color: #212134; 
$text_color: #cccccc;
$bg_color: #33324A;
$fg_color: #C0C0E5;
$highlight: #EE4E88;//#FFAD00;

$select_color: #D58CFF;//#63B1BC;
$select_color_fg: #FFFFFF;

$osd_bg_color: $bg_color; //#2e3436;
$osd_text_color: #ffffff;
$osd_fg_color: $fg_color; //#eeeeec;

$headerbar_color: $base_color;
$headerbar_bg_color: $bg_color;
$headerbar_fg_color: transparentize(#ffffff, 0.2);

// lol, fixing bad def.s
$selected_fg_color: $select_color_fg;
$selected_bg_color: $select_color;
$headerbar-color: $headerbar_color;
