@import "../../../colors";

// Orange
$orange: $highlight; //a little bad, but whatever.

// red
$red: if($variant=='light', #E56A54, #EA9090);
$highlights_red: if($variant=='light', #EA9090, #E56A54);
$text_red: if($variant=='light', #A0252B, #FFB5B5);

// yellow
$yellow: if($variant=='light', #FEDB40, #F9D87A);
$highlights_yellow: if($variant=='light', #FFF19E, #FEDB40);
$text_yellow: if($variant=='light', #966800, #FFF19E);

//Colors for certain widgets
$entry_color: $highlight;
$close_button_color: mix($red, $highlight, 50%);

$panel_bg_color: darken($bg_color, 3%);;
$dash_bg_color: $panel_bg_color;
$panel-alpha-value: 0.0;
$panel_opaque_value: 0.0;

$dash-alpha-value: 0.0;
$dash-opaque-alpha-value: 0.0;

$system_bg_color: $bg_color; //previously "gdm_grey"

